* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

body {
  background-color: #eeeeee;
  font-family: sans-serif;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  text-align: center;
  list-style: none;
  right: 0;
}

li {
  display: inline-block;
  padding: 10px 15px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #004fa3;
}

#container {
  text-transform: uppercase;
  width: 70%;
  max-width: 800px;
  border: 2px solid #004fa3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 3% auto;
}

#header_banner {
  padding: 20px;
  background-color: #004fa3;
  color: #fff;
  font-weight: bold;
}

#header_banner h1 {
  text-align: center;
  font-size: 24px;
}

#calculator {
  background-color: #fff;
  padding: 20px 50px 25px 50px;
  font-size: 18px;
}

.currency_menus {
  float: left;
  width: auto;
}

.dropdown {
  float: left;
  margin-right: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

select {
  background-color: #eeeeee;
  color: #444444;
  display: block;
  border: 1px solid #cccccc;
  overflow: scroll;
}

input {
  float: right;
  width: 35%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 7px;
  text-align: center;
  margin: 10px auto 5px auto;
}

button {
  float: left;
  display: block;
  width: 50%;
  margin: 20px 25%;
  border: 1px solid #ccc;
  padding: 10px 0;
  background-color: #3983ce;
  color: #fff;
  text-transform: uppercase;
}

button:hover {
  background-color: #004fa3;
  cursor: pointer;
}

#value {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 800px) {
  .currency_menus {
    float: none;
    margin-bottom: 25px;
    text-align: center;
  }

  .dropdown {
    display: inline-block;
    float: none;
  }

  input {
    float: none;
    width: 71%;
    display: block;
  }

  button {
    width: 75%;
    margin-right: 12.5%;
    margin-left: 12.5%;
    margin-bottom: 20px;
  }
}

@media (max-width: 476px) {
  #calculator {
    padding: 20px 30px 25px 30px;
  }

  .currency_menus {
    text-align: center;
    float: none;
  }

  .dropdown {
    float: none;
    display: block;
  }

  .dropdown:first-child {
    margin-bottom: 15px;
  }

  select {
    margin: auto;
  }

  input {
    float: none;
    width: 85%;
    display: block;
  }

  button {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
  }
}
